@{
    ViewData["Title"] = "CUCCS Family System";
}


<div class="row">
    <div class="col-md-3">
        <img alt="logo" src="/images/logo.jpg" style="width:300px;height:300px;">
    </div>

    <div class="col-md-9">
        <h1>
            Welcome to the CUCCS family system website!
        </h1>
        <p style="font-size:150%;">
            This is (at this stage) a very primitive website built by a non-computer scientist, hoping to
            provide a better-working member database for the committee, and an online platform for 
            society members to manage their CCS family relationships. 
        </p>
        <p style="font-size:150%;">
            Please click the top right area to login/register, and discover the currently supported (quite
            limited but hopefully useful) functionalities. You can edit your personal information in the profile page, 
            and view/add family members in the "My Family" page after you've logged in.
        </p>
        <p style="font-size:150%;">
            <u><b>IMPORTANT NOTE: </b></u>
        </p>
        <p style="font-size:150%;">
            Once logged in, please <b>fill in your profile information</b> as soon as possible (especially <u><b>Name</b></u> and <u><b>Year of Admission</b></u>);
             otherwise they will not be properly displayed/will affect certain search functions.
        </p>
    </div>
</div>

<div style="margin-top:500px"></div>